.page {
  background: #F5F0E8;
  padding: 40px 0;
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.container h1 {
  font-size: 32px;
  color: #8B5A3C;
  margin-bottom: 40px;
  font-weight: 700;
  margin-left: 324px;
}

.container p {
  font-weight: 700;
  color: #8B5A3C;
  margin-bottom: 18px;
  font-size: 16px;
}

.layout {
  display: flex;
  gap: 40px;
}

/* фильтры */
.filters {
  width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #8B5A3C;
  font-size: 14px;
}

.search:focus {
  outline: none;
  border-color: #8B5A3C;
  box-shadow: 0 0 0 2px rgba(139, 90, 60, 0.1);
}

.buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.buttons button {
  border: 1px solid #8B5A3C;
  background: transparent;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 15px;
}

.buttons button:hover {
  background-color: #8B5A3C;
  color: white;
  font-weight: 600;
}

.activeBtn {
  background-color: #8B5A3C !important;
  color: white;
  font-weight: 600;
}

.filters label {
  display: block;
  font-size: 15px;
  margin-top: 6px;
}

.filters p {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.column label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 0;
}

.column input {
  width: 16px;
  height: 16px;
  accent-color: #8B5A3C;
}

.dropdownFilter {
  position: relative;
  width: 100%;
}

.dropdownHeader {
  border: 1px solid #8B5A3C;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  background: white;
  border: 1px solid #8B5A3C;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  overflow: hidden;
}

.dropdownItem {
  padding: 10px 12px;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 14px;
}

.dropdownItem:hover {
  background: #F5F0E8;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #49413a;
}

.checkboxLabel input {
  display: none;
}

.customCheckbox {
  width: 16px;
  height: 16px;
  border: 1.5px solid #8B5A3C;
  position: relative;
  background: #f8f4ee;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.checkboxLabel input:checked + .customCheckbox {
  background: #8B5A3C;
  border-color: #8B5A3C;
}

.checkboxLabel input:checked + .customCheckbox::after {
  content: "✓";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  text-align: center;
  margin-top: 250px;
}

.showBtn {
  background: #8B5A3C;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 8px;
}

.showBtn:hover {
  background: #794e34;
}

.reset {
  background: none;
  border: none;
  color: #8B5A3C;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px;
  margin-top: -15px;
  transition: color 0.2s;
}

.reset:hover {
  color: #916a51;
}

/* карточки */
.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 372px);
  gap: 40px;
  margin-left: 26px;
  justify-content: flex-start;
}

.card {
  width: 360px;
  display: flex;
  flex-direction: column;
  max-height: 544px;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  height: 240px;
  border-radius: 8px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #F2A65A;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 8px;
}

.status {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #3E5B3C;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.info {
  border: 1px solid #8B5A3C;
  border-radius: 8px;
  padding: 20px;
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info h3 {
  font-size: 28px;
  color: #8B5A3C;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.infoIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 6px;
}

.tags {
  display: flex;
  gap: 12px;
  margin: 10px 0;
}

.tags span {
  background: #EFE4D2;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
}

.org {
  font-size: 14px !important;
  margin-top: 20px !important;
  margin-bottom: 24px !important;
  color: #000000a2 !important;
  font-weight: 400 !important;
  display: flex;
  align-items: center;
}

.action {
  background: #8B5A3C;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: auto;
  display: block;
  text-align: center;
}

.action:hover {
  background: #794e34;
}
